# Dependencies
node_modules/

# Build output
_site/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
._*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
