---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for pageEntry in collections.all %}
{%- if pageEntry.url and not pageEntry.data.draft and pageEntry.url != '/sitemap.xml' %}
  <url>
    <loc>{{ site.url }}{{ pageEntry.url }}</loc>
    <lastmod>{{ (pageEntry.date or page.date) | htmlDateString }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
